@import './github.markdown.dark.scss';

$primary-text: rgba(255, 255, 255, .85);

$border-color: rgba(255, 255, 255, .2);

$background-color: #31353a;

$divider-color: rgba(255, 255, 255, .05);

$disabled-color: #858585;
